<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css"/>
    <style>
        .validation {
            margin-top: 10px;
            color: #e8200e;
            font-size: 16px;
        }

        .validation:before {
            content: '*';
            margin-right: 3px;
        }
    </style>
</head>
<body>
<div style="margin-top: 60px;" th:replace="pages/layout::header"></div>
<div class="section-center">
    <div class="container" style="padding-top: 50px;padding-bottom: 50px;max-width: 1700px;">
        <div class="booking-form">
            <form th:action="@{/admin/addCourse}" method="post"  th:object="${course}" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <span class="form-label">Title: </span>
                            <input class="form-control" type="text" th:field="*{title}">
                            <div class="validation" th:if="${#fields.hasErrors('title')}"
                                 th:errors="*{title}"></div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <span class="form-label">Unit: </span>
                            <input class="form-control" type="text" th:field="*{unit}" >
                            <div class="validation" th:if="${#fields.hasErrors('unit')}"
                                 th:errors="*{unit}"></div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="label mt-4 ml-1">Master Of Course: </label>
                            <select  th:field="*{professor}"
                                     class="form-control " id="provinceSelect" name="province">
                                <option value="-1" hidden>Choose ...</option>
                                <option th:each="professor : ${professors}"
                                        th:value="${professor.getId()}"
                                        th:text="${professor.getName() + professor.getFamily()}">
                            </select>

                        </div>
                    </div>

                    <div class="col-sm-3 " dir="ltr">
                        <button dir="ltr" class=" form-group btn-submit m-b-0 btn btn-info" style="font-size: 22px;background-color: #4272d7;color: white;margin-top: 40px;margin-left:50px;width: 150px"
                                type="submit">Save
                        </button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>


<br/>

<div id="wrapper" class="container-fluid">
    <div id="second" dir="rtl" style="margin: auto">
        <div class="container-fluid" style="margin-bottom: 300px;" dir="rtl" id="allCat">
            <div style="overflow-x: scroll ;margin-bottom: 50px">
                <form id="search-form" th:action="@{/admin/addCourses}" method="get">
                    <table class="table">
                        <thead class="thead-light ">

                        <tr>
                            <!--                <th scope="col">شناسه</th>-->
                            <th scope="col">title</th>
                            <th scope="col">unit</th>
                            <th scope="col">master of course</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr th:each="course : ${courses}">


                                <td>
                                    <a th:text="${#strings.abbreviate(course.title ,50)}" class="text-dark"> </a>
                                </td>
                                <td>
                                    <a th:text="${course.unit}" class="text-dark"> </a>
                                </td>
                                <td>
                                    <a th:text="${course.professor.getName() + ' '+ course.professor.getFamily()}" class="text-dark"> </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>

    </div>
</div>
</body>
</html>